<div id="container">
    <canvas id="backgroundScene"></canvas>
    <form id="signUpForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit($event)">
        <h1>SignUp</h1>
        <div class="form-group">
            <input type="text" formControlName="name" class="form-control" id="userName" placeholder="Enter user name">
        </div>
        <div class="form-group">
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" id="signUpButton">Sign Up</button>
    </form>
    <button id="backgroundMusic" (click)="togglePlay()">
        <audio loop id="audio" autoplay [volume]="0.5">
            <source src="../../../assets/sounds/BackgroundMusic/cosmic space.mp3" />
        </audio>
    </button>
</div>