/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 0;
    display: none;
    visibility: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: -10;
}